<br>
<section id="services" class="services">
  <div class="container">
    
    <div class="section-title">
      <h2>Administracion</h2>
      <p>Panel de control para la gestión y mantención de los distintos módulos asociados al sistema.</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box" style="width: 385px; height: 276px;">
          <div class="icon">
              <mat-icon>person</mat-icon>
          </div>
          <h4><a routerLink="/users">Mantenedor de Usuario</a></h4>
          <p>Listado de usuarios registrado en el sistema, incluyendo vistas de detalles y edición.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box" style="width: 385px; height: 276px;">
          <div class="icon">
              <mat-icon>meeting_room</mat-icon>
          </div>
          <h4><a routerLink="/deptos">Mantenedor de Departamento</a></h4>
          <p>Listado de departamentos registrados en el sistema, incluyendo vistas de detalles y edición.<!-- , además
            de lista de utilidades asociadas e historial de reservas realizadas. -->
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="icon-box" style="width: 385px; height: 276px;">
          <div class="icon">
              <mat-icon>local_offer</mat-icon>
          </div>
          <h4><a  routerLink="/servicios">Mantenedor servicios extras</a></h4>
          <p>Gestión de servicios complementarios contratados por empresas externas.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box" style="width: 385px; height: 276px;">
          <div class="icon">
              <mat-icon>apps</mat-icon>
          </div>
          <h4><a routerLink="/estadisticas">Informe y Estadísticas</a></h4>
          <p>Reportes y generación de informes de arriendos, preferencias, etc.</p>
        </div>
      </div>
    </div>
  </div>
</section>