<mat-toolbar>
    <span class="title-component">Perfil de usuario</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="close()" tabindex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</mat-toolbar>
<div class="container">
    <div fxLayout="row" fxLayoutGap="30px">
        <div fxFlex="90%" class="left">
            <mat-tab-group animationDuration="0ms" dynamicHeight="false">
                <mat-tab label="General">
                    <p>
                        <strong>Nombre completo: </strong><span>{{user.nombreUsuario}}</span><br/>
                        <strong>ID de usuario: </strong><span>{{user.uid}}</span><br/>
                        <strong>Email: </strong><span>{{user.email}}</span><br/>
                        <strong>Rol: </strong><span>{{user.rol}}</span><br/>
                    </p>
                </mat-tab>
                <mat-tab label="Detalle">
                    <p>
                        <strong>Fecha de registro: </strong><span>{{user.fechaRegistroUsuario}}</span><br/>
                        <strong>Ultima conexion: </strong><span>{{user.lastLogOn}}</span><br/>
                    </p>
                </mat-tab>
            </mat-tab-group>
            <!-- <div style="margin-top: 50px; text-align: center; margin: auto;">
                <button [disabled]="(user.estadoLogico)" mat-raised-button class="enable" (click)="enable()">Habilitar</button>
                <button [disabled]="!(user.estadoLogico)" mat-raised-button class="disable" (click)="disable()">Deshabilitar</button>
                <button mat-raised-button class="delete" (click)="delete()">Eliminar</button>
            </div> -->
        </div>
    </div>
</div>