.spacer{
    margin-top: 0;
    height: 75px;
    width: 10px;
    margin-bottom: 0;
}
.container{
    display: flex;
    width: 95%;
    flex-direction: column;
}
.title-box{
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.table-box{
    margin-top: 2%;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}
.table{
    width: 100%;
    height: 100%;
}
mat-table{
    height: calc( 100vh - 250px);
    overflow: auto; 
}
mat-header-cell{
    color: #00aeef;
}
ng-container{
    min-height: 35px;
    height: 0.5%;
}
mat-row{
    min-height: 35px;
}

.mat-icon{
    height: 25px !important;
    width: 25px !important;
    font-size: 25px !important;
}
button.edit{
    background-color: #990000;
    color: white;
}
button.details{
    background-color: #00aeef;
    color: white;
}
button.disabled{
    background-color: gray!important;
    color: black;
}
.create{
    border: solid;
    background-color: #363ba0;
    border-color: #363ba0;
    color: white;
    padding: 0px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    width: 15%;
}

.mat-column-id{
    flex: 0 0 5%;
}
.mat-column-nombreCliente{
    flex: 0 0 15%;
}
.mat-column-departamento{
    flex: 0 0 25%;
}
.mat-column-valor{
    flex: 0 0 10%;
}
.mat-column-fecha{
    flex: 0 0 10%;
}
.mat-column-estado{
    flex: 0 0 10%;
}
mat-form-field {
    width: 30%;
    margin-top: 20px;
}