<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h1>Turismo Real - Los mejores departamentos de Chile</h1>
          <h2></h2>
          <a href="https://www.youtube.com/watch?v=hOjN0lB403o" class="glightbox play-btn mb-4"></a>
        </div>
      </div>
    </div>
  </section><!-- Final Inicio -->
  <main id="main">

    <!-- ======= Nosotros ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>Nosotros </h2>
          <p>¿Quiénes somos? "Turismo Real", una empresa familiar que se dedica al arriendo de departamentos y otros servicios en zonas turísticas del país. Más de 10 años en el mercado y de a poco siendo conocida por la gran calidad de sus departamentos. </p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              Con nosotros puedes contar con la mejor calidad de todos los departamentos obtenidos durante los 10 años:
              
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Nuestra Seguridad</li>
              <li><i class="ri-check-double-line"></i> Nuestra Calidad</li>
              <li><i class="ri-check-double-line"></i> Nuestros Precios Economicos</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Hoy en día el concepto de vivir en un departamento está tomando cada vez más fuerza sobre el de vivir en una casa, principalmente por el costo, 
              la ubicación y la seguridad. ¿Quieres saber cuales son las ventajas de vivir en un departamento y porque es una excelente inversión? 
              Continua leyendo porque conocerás 7 razones por las que debes comprar un departamento.
            </p>
            <a href="https://www.carza.com/blog/7-ventajas-de-vivir-en-un-departamento" class="btn-learn-more">Más información</a>
          </div>
        </div>
      </div>
    </section>
    <!--  ====== Servicios ====== -->

    <!-- SEGUIR ACA -->
    <!-- SEGUIR ACA -->
    <!-- SEGUIR ACA -->
    <!-- SEGUIR ACA -->
    <!-- SEGUIR ACA -->
    <!-- SEGUIR ACA -->
    <!-- SEGUIR ACA -->
    <!-- SEGUIR ACA -->
    <!-- SEGUIR ACA -->
    <!-- SEGUIR ACA -->
    <!-- SEGUIR ACA -->

    <!-- ======= Contactanos ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contáctanos</h2>
          <p>¿Quieres saber mas de nuestros precios?
          </p>
        </div>
      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3326.6139208237605!2d-70.75463514890033!3d-33.51142058066219!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662dcd1fe0c7bab%3A0x4d17b82a7ba77488!2sDuoc%20UC%3A%20Sede%20Maipu!5e0!3m2!1ses-419!2scl!4v1664328574639!5m2!1ses-419!2scl" frameborder="0" allowfullscreen></iframe>
        
        
      </div>

      <div class="container">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="ri-map-pin-line"></i>           <!-- Direccion -->
                <h4>Dirección:</h4>
                <p>Av. Esq. Blanca 501, Maipú, Región Metropolitana</p>
              </div>

              <div class="email">
                <i class="ri-mail-line"></i>
                <h4>Email:</h4>                             <!-- Email  -->
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="ri-phone-line"></i>               <!-- Telefono -->
                <h4>Teléfono:</h4>
                <p>+56 9 1954 2554 </p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">               <!-- Nombre cuadro -->
                  <input type="text" name="name" class="form-control" id="name" placeholder="Tu Nombre" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">  <!-- Email -->
                  <input type="email" class="form-control" name="email" id="email" placeholder="Tu Correo" required>
                </div>
              </div>
              <div class="form-group mt-3">                     <!-- Titulo -->
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Titulo" required>
              </div>
              <div class="form-group mt-3">                     <!-- Mensaje -->
                <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
              </div>
              <div class="my-3">                          <!-- Mensaje de carga -->
                <div class="loading">Cargando...</div>
                <div class="error-message"></div>
                <div class="sent-message">Tu mensaje ha sido enviado, Gracias!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar Mensaje</button></div>
            </form>

          </div>

        </div>

      </div>
    </section>
  </main>
