<div class="spacer">

</div>
<div class="container">
    <mat-card class="title-box mt-elevation-z2">
        <h4 class="title" fxLayoutAlign="center center" >Departamentos</h4>
         <button mat-button class="create" (click)="create()" style="margin-right: 20px;">
            Crear Departamento
         </button>
    </mat-card>
    <mat-card class="table-box mt-elevation-z2">
        <div fxLayout="row" style="padding-bottom: 20px;" class="example-header" *ngIf="dialogOpen() && (loaderService.visibility | async)">
            <mat-spinner style="margin: auto;" mode="indeterminate" [diameter]="100"></mat-spinner>
        </div>
        <div class="table" [hidden]="dialogOpen() && (loaderService.visibility | async)">
            <mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="nombreDepartamento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.nombreDepartamento}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="regionDepartamento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Región</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.regionDepartamento}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="ubicacionDepartamento">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Ubicación</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.ubicacionDepartamento}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="valorBase">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Valor de arriendo</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{formatter.format(row.valorBase)}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="cantidadDormitorios">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>N° Dormitorios</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.cantidadDormitorios}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Disponibilidad</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.estado}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="estadoLogico">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Estado actual</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{row.estadoLogico?'Habilitado':'Deshabilitado'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="acciones">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-button class="button details" (click)="detail(row)">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button mat-button class="button edit" style="margin-left:5px; " (click)="edit(row)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10, 15,25]"></mat-paginator>
        </div>
    </mat-card>
</div>